<div id="sketch-pad-wrap" class="center">
<span style="float:left">Draw a picture based on these words:</span><br>
<div id="phrase" class="bold black" style="float:left"></div>
<input type="button" name="skippy" value="skip" onclick="genNewWords();" class="right"><br><br>
<input type="button" name="done" value="I'm done!" onclick="doneDoodle();">
<canvas id="sketch-pad" width="500" height="350">Please use Google Chrome, Firefox, or Internet Explorer 9</canvas>

<div id="sketch-options" class="small grey">
  <div id="color-picker" class="left"></div>
  <div id="size-slider-wrap" class="right align-right">
  Brush size (<span id="current-brush-size" class="bold black">2</span>) <div id="size-slider" class="right"></div>
  </div>
</div>

<div class="clear"></div><br>
<span style="float:left">Time left:&nbsp </span><div id="timer" style="float:left"></div>&nbsp s
</div>

<!-- TEMPLATES -->
<script id="color" type="text/html">
  <div class="color-wrap left color{{css_class}}" style="border:1px solid #{{border_hex}}">
    <div class="color" style="background:#{{bg_hex}}"></div>
  </div>
</script>

<!-- MAIN JS STUFF -->
<script type="text/javascript">
var canvas_thing,t42,timerSeconds;
var current_color = '#000000';

$(document).ready(function(){
  canvas_thing = new CanvasDrawing("sketch-pad", {color: current_color});
  init_color_picker();
  init_size_slider();
  new_phrase();
  init_timer();
});

new_phrase = function() {
  $.getJSON('random-phrase', function(data){
    $("#phrase").text(data.phrase);
  });
};

init_color_picker = function(){
  _.each(['000000','ff0000','00ff00','0000ff','ffff00','00ffff','ff00ff'], function(color_hex) {
    var is_current_color = current_color == "#"+color_hex;
    var current_border_hex = is_current_color ? '000' : 'bbb';
    var color = ich.color({
      bg_hex: color_hex,
      border_hex: current_border_hex,
      css_class: is_current_color ? '-current' : ''
    });
    color.click(function() {
      if($(this).hasClass("color-current")) {return;}
      $(".color-current").attr("style","border:1px solid #bbb").removeClass("color-current");
      $(this).addClass("color-current").attr("style","border:1px solid #000");
      current_color = rgb2hex($(".color-current").find(".color").css("background-color"));
      canvas_thing.setOption("color", current_color);
    })
    
    $("#color-picker").append(color);
  });
};

init_size_slider = function(){
  $("#size-slider").slider({
    min:2,
    max:20,
    change: function(e, ui) {
      canvas_thing.setOption("lineWidth", ui.value);
    },
    slide: function(e, ui) {
      $("#current-brush-size").text(ui.value);
    }
  });
};

init_timer = function(){
  timerSeconds = 60;
  $("#timer").text(timerSeconds);
  t42 = setInterval("updateTimer()", 1000);
};

function updateTimer(){
  timerSeconds = timerSeconds -= 1; 
  $("#timer").text(timerSeconds);
  if (timerSeconds <= 0){
    alert("Time's up!");
    doneDoodle();
  }
};

function doneDoodle(){
  clearInterval(t42);
  timerSeconds = 75;

  var answer = confirm("Save your doodle in the online gallery?");  
  if (answer){
    var name = prompt("Enter your name:","Anonymous");
    send_img_to_db(name);
    alert("Doodle saved in our archives.");
  }
  else{
    alert("Doodle was not saved.");
  }

    var answer2 = confirm("Doodle again?");
    if (answer2){
      reset_game();   
    }

};

function reset_game(){
  clearInterval(t42);
  new_phrase();
  init_timer();
  canvas_thing.clearCanvas();
};

send_img_to_db = function(name){
  var oCanvas = document.getElementById("sketch-pad");
  var strDataURI = oCanvas.toDataURL();
  jQuery.post('/insert-image', {image: strDataURI, phrase: $("#phrase").text(), name: name});
};

function rgb2hex(rgb) {
  // from:
  // http://stackoverflow.com/questions/1740700/get-hex-value-rather-than-rgb-value-using-jquery
  rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
  function hex(x) {
    return ("0" + parseInt(x).toString(16)).slice(-2);
  }
  return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
}
</script>
