<div id="instructions" class="large align-center grey">
   You have <span id="timer" class="bold"></span> seconds to draw a picture of
   <div id="phrase" class="x-large bold black"></div>
</div>
<div id="sketch-pad-wrap" class="center">
<canvas id="sketch-pad" width="500" height="350">Please use Google Chrome, Firefox, or Internet Explorer 9</canvas>

<div id="sketch-options" class="small grey">
  <div id="color-picker" class="left"></div>
  <div id="size-slider-wrap" class="right align-right">
  Brush size (<span id="current-brush-size" class="bold black">10</span>) <div id="size-slider" class="right"></div>
  </div>
</div>
<div class="clear"></div>
<div id="options" class="align-center small">
Finished early?<br><button id="done-early" class="">I'm Done Doodling</button>
</div>
</div>

<!-- TEMPLATES -->
<script id="color" type="text/html">
  <div class="color-wrap left color{{css_class}} pointer" style="border:1px solid #{{border_hex}}">
    <div class="color" style="background:#{{bg_hex}}"></div>
  </div>
</script>

<script id="done" type="text/html">
<div class="align-center">
  <div id="time-up-play-again" class="bold upper">Time&#8217;s up!&nbsp;&nbsp;&nbsp;<a class="close" href="#">Play again &rarr;</a></div>
  <div id="save-doodle" class="border-radius">
    <div class="medium">Optional: Post your doodle to the gallery?</div>
    <form id="post-img-form">
    <input id="post-img-name" type="text" placeholder="Enter your name" class="medium">
    <input type="submit" value="Post">
    </form>
  </div>
</div>
</script>

<!-- MAIN JS STUFF -->
<script type="text/javascript">
var canvas_thing,t42,timerSeconds;
var current_color = '#000000';

$(document).ready(function(){
  canvas_thing = new CanvasDrawing("sketch-pad", {color: current_color, lineWidth: 10});
  init_color_picker();
  init_size_slider();
  new_phrase();
  $(document).bind('afterReveal.facebox', bind_post_img_form);
  $(document).bind('afterClose.facebox', reset_game);
  reset_game();
  $("#done-early").click(doneDoodle);
});

new_phrase = function() {
  $("#phrase").text("");
  $.getJSON('random-phrase', function(data){
    $("#phrase").text(data.phrase);
  });
};

init_color_picker = function(){
  _.each(['000000','ff0000','00ff00','0000ff','ffff00','00ffff','ff00ff', 'ffffff'], function(color_hex) {
    var is_current_color = current_color == "#"+color_hex;
    var current_border_hex = is_current_color ? '000' : 'bbb';
    var color = ich.color({
      bg_hex: color_hex,
      border_hex: current_border_hex,
      css_class: is_current_color ? '-current' : ''
    });
    color.click(function() {
      if($(this).hasClass("color-current")) {return;}
      $(".color-current").attr("style","border:1px solid #bbb").removeClass("color-current");
      $(this).addClass("color-current").attr("style","border:1px solid #000");
      current_color = rgb2hex($(".color-current").find(".color").css("background-color"));
      canvas_thing.setOption("color", current_color);
    })
    
    $("#color-picker").append(color);
  });
};

init_size_slider = function(){
  $("#size-slider").slider({
    min:1,
    max:50,
    value: 10,
    change: function(e, ui) {
      canvas_thing.setOption("lineWidth", ui.value);
    },
    slide: function(e, ui) {
      $("#current-brush-size").text(ui.value);
    }
  });
};

init_timer = function(){
  timerSeconds = 75;
  $("#timer").text(timerSeconds);
  t42 = setInterval("updateTimer()", 1000);
};

function updateTimer(){
  timerSeconds--;
  $("#timer").text(timerSeconds);
  if (timerSeconds <= 0){
    doneDoodle();
  }
};

function doneDoodle(){
  clearInterval(t42);
  $.facebox(ich.done());
};

function reset_game(){
  new_phrase();
  init_timer();
  canvas_thing.clearCanvas();
};

bind_post_img_form = function() {
  $("#post-img-form").submit(function(e){
    var name = $("#post-img-name").val();
    if(!name){
      name = "Anonymous";
    }
    send_img_to_db(name);
    $("#save-doodle").html("Saving...");
    e.preventDefault();
  });
};

send_img_to_db = function(name){
  var oCanvas = document.getElementById("sketch-pad");
  var strDataURI = oCanvas.toDataURL();
  jQuery.post('/insert-image', {image: strDataURI, phrase: $("#phrase").text(), name: name}, function(data){
    $("#save-doodle").html("Saved! <a href='/"+data+"'>View your doodle &rarr;</a>");
  });
};

function rgb2hex(rgb) {
  // from:
  // http://stackoverflow.com/questions/1740700/get-hex-value-rather-than-rgb-value-using-jquery
  rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
  function hex(x) {
    return ("0" + parseInt(x).toString(16)).slice(-2);
  }
  return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
}
</script>
