<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Runaway Doodle</title>
<link rel="stylesheet" type="text/css" href="reset.css">
<link rel="stylesheet" type="text/css" href="jquery-ui-1.8.16.custom.css">
<link rel="stylesheet" type="text/css" href="/facebox/facebox.css">
<link href='http://fonts.googleapis.com/css?family=Delius+Swash+Caps' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="ninngenn-te-iiinaaa.css">
<script type="text/javascript" src="jquery-1.6.2.js"></script>
<script type="text/javascript" src="jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="underscore.js"></script>
<script type="text/javascript" src="ICanHaz.js"></script>
<script type="text/javascript" src="/facebox/facebox.js"></script>
<!--[if lt IE 9]><script type="text/javascript" src="excanvas.compiled.js"></script><![endif]-->
<script type="text/javascript" src="canvasdrawing.js"></script>
<script type="text/javascript" src="base64.js"></script>
<script type="text/javascript" src="canvas2image.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25398222-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body class="align-center">
  <div id="header" class="center wrap-nopad">
    <h1 id="logo" class="left"><a class="black no-underline" href="/">Runaway Doodle</a></h1>
    <div id="nav" class="right"><a href="/">Doodle!</a> &middot; <a href="/latest">Latest doodles</a></div>
    <div class="clear"></div>
  </div>
  <div id="main-wrap" class="center wrap align-left border-radius">
    <%- body %>
  <div>
</body>
</html>
